* {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #fffffe;
}

/* Right Container */

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  font-size: 1.7rem;
}

.txtcontainerone {
  margin-top: 2rem;
}

.txtcontainerone,
.txtcontainertwo {
  display: flex;
  flex-direction: column;
  padding: 0rem 5rem;
}

.paraOne {
  margin-bottom: 2rem;
}

.paraTwo {
  margin-bottom: 3rem;
}

.formContainer {
  width: 100%;
  height: 30%;
  margin-bottom: 3rem;
  position: relative;
}

.formHeading {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.inputContainer {
  list-style: none;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 2rem 5rem 0rem;
  width: 100%;
  margin-bottom: 2rem;
}

li {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 1.3rem;
}

.signupForm {
  display: flex;
  flex-direction: column;
}

.formitem {
  width: 100%;
  display: flex;
  gap: 5rem;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  height: 2.3rem;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px #ccc;
}

input:required + span::after {
  font-size: 0.9rem;
  content: "Please fill the required field.";
}

.btnContainer {
  padding: 0px 5rem;
  margin-bottom: 3rem;
}

.submitBtn {
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
}

a {
  all: unset;
}

/* Left Container */
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
  background-image: url("images/ben-o-bro-TgpWr5YI7Ls-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titleCard {
  height: 12.5%;
  display: flex;
  background-color: rgba(234, 221, 207, 0.4);
  justify-content: center;
  margin-bottom: 30rem;
  padding: 1rem;
  font-size: 1rem;
  gap: 0.7rem;
}

.title {
  bottom: 380px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 4.5rem;
  align-self: center;
}

.titleicon {
  width: 4rem;
  height: 4rem;
  align-self: center;
}

/* For Screen Resizing */
@media screen and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .leftContainer {
    width: 100%;
    height: 20%;
    background-image: none;
  }

  .rightContainer {
    width: 100%;
    height: 80%;
  }
}
